SECRET_KEY=change-me-in-production
JWT_EXPIRY_HOURS=8
JWT_COOKIE_DOMAIN=.thun-tigers.net
LOG_LEVEL=INFO
AUTO_CREATE_DB=true
CREATE_DEFAULT_USERS=true
DEFAULT_ADMIN_USERNAME=admin
DEFAULT_ADMIN_PASSWORD=admin
RATELIMIT_STORAGE_URI=memory://
